# Root
node_modules/
.env
.DS_Store
logs/
npm-debug.log*
pids/
lib-cov/

# Backend
/backend/node_modules/
/backend/.env

# Frontend
/frontend/node_modules/
/frontend/.env
/frontend/.DS_Store
/frontend/logs/
/frontend/npm-debug.log*
/frontend/pids/
/frontend/lib-cov/
